
@{
    ViewBag.Title = "圓面積";
}

<h2>圓面積</h2>
<!-- 變數的name 要跟 Controller裡的Function參數名稱一樣才能傳值 -->
<form method="post" name="form" action="CircularArea">
    <p>
        直徑：<input type="text" name="Diameter">
    </p>
    <input type="submit" name="Run">
</form>