
@{
    ViewBag.Title = "VarNum2";
}

<h2>VarNum2</h2>

<form method="post" name="form" action="FtoC">
    <p>
        變數1:<input type="text" name="Celsius">
    </p>
    <input type="submit" name="Run">
</form>