
@{
    ViewBag.Title = "華氏轉攝氏";
}

<h2>華氏轉攝氏</h2>
<!-- 變數的name 要跟 Controller裡的Function參數名稱一樣才能傳值 -->
<form method="post" name="form" action="FtoC">
    <p>
        華氏溫度：<input type="text" name="Celsius">
    </p>
    <input type="submit" name="Run">
</form>