@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WebExam</h1>
    <p class="lead">小作品</p>
    <p><a href="https://youtu.be/Rgk0v-mqNbg" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>雇員</h2>
        <p>
            實作CRUD的頁面
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>要看的書</h2>
        <p>實作CRUD的頁面</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>程式</h2>
        <p>可以跑一些小程式的地方</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>